/* General Styles */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  line-height: 1.5;
}

ul {
  list-style: none;
}

body {
  font-family: system-ui, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.sidebar {
  grid-column: 1/2;
  background-color: #1992d4;
}
.header {
  grid-column: 2/3;
  background-color: white;
}
.main {
  grid-column: 2/3;
  background-color: #e2e8f0;
}

/* Sidebar */
.sidebar {
  display: grid;
  gap: 50px;
  padding: 1.5rem;
  color: white;
}

.sidebar .logo {
  font-size: 30px;
  font-weight: 700;
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.sidebar .logo svg {
  font-size: 50px;
}

.sidebar ul {
  display: grid;
  gap: 15px;
}

.sidebar ul li {
  display: grid;
  grid-template-columns: 1rem auto;
  gap: 30px;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 900;
  cursor: pointer;
}
